* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    background-color: white;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1 {
    margin-bottom: 25px;
    text-align: center;
}

.schedule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-size: 22px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li{
    padding-bottom: 10px;
    list-style: none;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}