*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 100vh;
}

.todo-app-body{
    margin: 10vh auto;
    width: 60vw;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    outline: 3px solid rgba(0, 0, 0, 0.5);
    /* margin-top: 20px; */
}

.todo-app-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.todo-app-header button{
    padding: 0px 50px;
    border: none;
    border-radius: 20px;
}

.todo-app-task{
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 95% 5%;
    gap: 20px;
    align-items: center;
}

/* span{
    font-size: 20px;
    font-weight: bolder;
}*/

.todo-app-task-left-time{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
} 

.todo-app-task-left-time p{
font-size: 16px !important;
}


.todo-app-task-left p{
    font-size: 20px;
}

#task-input{
    /* padding: 10px 84px 10px 20px; */
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 12px 20px;
}

.add-task-time{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-task-time-start{
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-task-time-end{
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-task-time input{
    padding: 10px 25px 10px 10px;
    border-radius: 10px;
}

.add-task button{
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}